---
import "../styles/index.css";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/HeroSection.astro";

const title = "Strong Female | Product of a strong female";
const description =
  "A brand inspired by the people we are, and the women who raised";
---

<Layout title={title} description={description}>
  <main class="flex h-full px-4 max-w-screen-2xl mx-auto">
    <HeroSection />
  </main>
</Layout>
